// Add predefined macros for your project here.

#define __MBED__
#define DEVICE_SPI 1
#define DEVICE_SERIAL 1
#define DEVICE_INTERRUPTIN 1
#define DEVICE_LPTICKER 1
#define USE_FULL_LL_DRIVER
#define PIO_FRAMEWORK_MBED_RTOS_PRESENT
#define MBED_CONF_RTOS_API_PRESENT 1
#define MBED_CONF_RTOS_PRESENT 1
#define MBED_CONF_EVENTS_PRESENT 1
#define EVE_SPI_MOSI PF_9
#define EVE_SPI_MISO PF_8
#define EVE_SPI_CLK PF_7
#define EVE_SPI_SSEL PF_12
#define EVE_PD PB_2
#define EVE_INTRPT PD_15
